{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{ user_dict.username }}</title>

  <!-- CSS  -->
  <!-- Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <!-- Map -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
  <style>
  html, body {
    height: 100%;
    margin: 0;
  }
  #map {
    width: 100%;
    height: 50vh;
  }
  </style>

</head>
<body>
  <!-- <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav> -->
  <div class="section no-pad-bot light-blue lighten-1" id="index-banner">
    <div class="container">
      <!-- <br><br> -->
      <h1 class="header center white-text">{{ user_dict.username }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ user_dict.headline}}</h5>
      </div>
      <!-- <br><br> -->
      <br>
    </div>
  </div>
  <div id='map'></div>

  <div class="container">
    <div class="section">
      <div class="row">
        {% for job in user_dict.jobs %}
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">{{ job.title }}</h5>
            <p class="light">{{ job.period }}</p>
            <p class="light">{{ job.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <p class="light">Footer information</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/map.js' %}"></script>
  <!-- <script src="js/init.js"></script> -->

  </body>
</html>
